<% if @results.empty? %>
  sorry we can't find anything for that movie <%= link_to "Back", root_path %>
<% end %>

<% @results.each do |r| %>
  <div>
    <ul>
      <% if r["image"] %>
        <li><%= r["title"] %></li>
        <li><img style="height: 600px; width: 400px"src=<%= @image + r["image"] %>/> </li>
      <% end %>
    </ul>
  </div>
<% end %>

