<footer>
<div class="container">
  <div class="row">
    <div class="span12">
      <ul>
        <li><a href= "http://www.themoviedb.org/">Powered by TMDb</a> & <a href= "http://www.apple.com/uk/itunes/">itunes</a></li>
      </ul>
    </div>
  </div>
</div>
</footer>